*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: flex;
}
.container-card
{
    width:250px;
    height: 300px;
    border: 1px solid red;
    margin: 20px;
    border-radius: 10px;
}
.card-img
{
    width: 100%;
    height: 150px;
    position: relative;
}
.card-img img
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s ease ;
}
.card-img img
{
    position: absolute;

}
.img2
{
    opacity: 0;
}
.card-img:hover .img2
{
    opacity: 1;
}
.card-content
{
    padding: 10px 10px;
}
.card-content p
{
 font-size: 14px;
}
.card-content button
{
    width: 100%;
    background: rgb(33, 119, 240);
    color: #fff;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Second Card Section Start */

.second-card-container
{
    width: 250px;
    height: 300px;
    border: 1px solid red;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden    ;
}
.second-card-img
{
    width: 100%;
    height: 50%;
}
.second-card-img img
{
    width: 100%;
    height: 100%;
}
.second-card-content 
{
    width: 100%;
    height: 50%;
    border: 2px solid black;
    position: absolute;
    top: 0;
    background: #111111d0;
    transform: scaleX(0%);
    transform-origin: left;
    transition: 0.5s ease;
}
.second-card-container:hover   .second-card-content {
    transform: scaleX(1);
}
.icon-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateY(150%);
}
 .icons
 {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .icons:hover
 {
    background: rgb(33, 142, 6);
    color: white;
    cursor: pointer;
 }


/* Third Section Card */
.container
{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card1:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

