*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: flex;
}
.container-card
{
    width:250px;
    height: 300px;
    border: 1px solid red;
    margin: 20px;
    border-radius: 10px;
}
.card-img
{
    width: 100%;
    height: 150px;
    position: relative;
}
.card-img img
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s ease ;
}
.card-img img
{
    position: absolute;

}
.img2
{
    opacity: 0;
}
.card-img:hover .img2
{
    opacity: 1;
}
.card-content
{
    padding: 10px 10px;
}
.card-content p
{
 font-size: 14px;
}
.card-content button
{
    width: 100%;
    background: rgb(33, 119, 240);
    color: #fff;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Second Card Section Start */

.second-card-container
{
    width: 250px;
    height: 300px;
    border: 1px solid red;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}
.second-card-img
{
    width: 100%;
    height: 50%;
}
.second-card-img img
{
    width: 100%;
    height: 100%;
}
.second-card-content 
{
    width: 100%;
    height: 50%;
    border: 2px solid black;
    position: absolute;
    top: 0;
    background: #111111d0;
    transform: scaleX(0%);
    transform-origin: left;
    transition: 0.5s ease;
}
.second-card-img:hover +  .second-card-content {
    transform: scaleX(1);
}